.siteSubNav {
  color: $white;

  &-container {
    align-items: center;
    background-color: rgba($base-header-colour, 0.8);
    display: flex;
    padding: 0 10%;
    width: 80%;

    &.--secondary {
      background-color: rgba($base-header-colour, 0.55);
    }

    &-selectedCategory {
      font-weight: bold;
      letter-spacing: 0.06em;
      font-size: 1.25em;
    }

    &-divider {
      color: $table-row-colour;
      margin: 0 0.75rem;
    }

    ul {
      display: flex;
      font-size: $size-12;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        margin: 0 4px;
        padding: 1em 0.5em;
        transition: ease-in 50ms;

        &:first-child {
          margin-left: 0;
        }

        &:hover,
        &.selected {
          border-bottom: 3px solid #77b9ff;
          color: $link-color-light;
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .siteSubNav {
    &-container {
      padding: 0 1.5em;
      width: unset;
    }
  }
}
