.rushing {
  display: flex;
  flex-direction: column;

  &-container {
    background-color: $white;
    box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.62);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;

    h2 {
      border-bottom: 2px solid $base-header-colour;
      margin: 1rem;
    }

    .pagination {
      margin: 1em 1.5em;
    }

    .rushing-table-container {
      overflow-x: auto;
      margin: 10px 0;
      padding: 0.25rem 1rem;

      table {
        border-collapse: collapse;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;

        font-size: $size-12;
        width: 100%;

        thead {
          th {
            padding: 4px 8px;
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &.selectedColumn {
              background-color: $selected-column;
            }

            &.sortableHeader {
              cursor: pointer;

              div {
                align-items: center;
                display: flex;
                justify-content: space-between;
              }

              &:hover {
                background-color: rgba($base-header-colour, 0.1);
              }
            }
          }
        }

        tbody {
          tr {
            border-top: 1px solid rgba(13, 36, 60, 0.25);
            border-bottom: 1px solid rgba(13, 36, 60, 0.25);

            &:nth-of-type(odd) {
              background-color: $table-row;
            }

            td {
              padding: 6px 10px;

              &.selectedColumn {
                background-color: $selected-column;
              }
            }
          }
        }
      }
    }

    &-error {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
    }
  }
}

@media only screen and (max-width: $medium) {
  .rushing {
    &-container {
      h2 {
        margin: 0.75em 1em 0 1em;
      }

      margin: unset;
      width: auto;

      .rushing-table-container {
        padding: 0;
      }
    }
  }
}
