@import "./_variables";
@import "./_defaults";

// Views
@import "../views/rushing.view";

// Components
@import "../components/Spinner/spinner.component";
@import "../components/Filters/filters.component";
@import "../components/Pagination/pagination.component";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    background: $base-header-colour;
    color: $white;
    display: flex;

    .logo {
      background: url("../vectors/thescore-logo.svg") 0 2px no-repeat;
      background-size: auto 190%;
      display: block;
      height: 24px;
      margin: 0.5rem 1rem;
      width: 110px;
    }
  }

  section {
    flex: 1;
  }

  footer {
    background: $base-header-colour;
    color: $white;
    display: flex;

    .footer-container {
      display: flex;
      font-size: $size-16;
      padding: 20px;
    }
  }
}
