.rushing {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-container {
    padding: 1.25rem 1rem;

    .rushing-table-container {
    overflow-x: auto;

    table {
      font-size: $size-12;
      margin: 10px 0;
      width: 100%;

      thead {
        th {
          padding: 4px 8px;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          &.selectedColumn {
            background-color: $selected-column;
          }

          &.sortableHeader {
            cursor: pointer;

            div {
              align-items: center;
              display: flex;
              justify-content: space-between;
            }

            &:hover {
              background-color: rgba($base-header-colour, 0.1);
            }
          }
        }
      }

      tbody {
        tr {
          border-top: 1px solid $border-colour;
          border-bottom: 1px solid $border-colour;

          &:nth-of-type(odd) {
            background-color: $table-row;
          }

          td {
            padding: 6px 10px;
            word-break: break-all;

            &.selectedColumn {
              background-color: $selected-column;
            }
          }
        }
      }
    }
  }

    &-error {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
    }
  }
}
