.rushing {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-container {
    padding: 1.25rem 1rem;

    &-error {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
    }
  }
}
