.header {
  align-items: center;
  background-color: $base-header-colour;
  color: $white;
  display: flex;

  &-container {
    align-items: center;
    display: flex;
    flex-direction: revert;
    margin: 0 auto;
    padding: 0em 1.5em;
    width: 80%;
  }

  &-logo {
    background: url("../../vectors/thescore-logo.svg") 0 2px no-repeat;
    background-size: auto 190%;
    display: block;
    height: 24px;
    margin: 0.5rem 0;
    width: 110px;
  }

  &-siteNav {
    margin: 0 0 0 1rem;

    ul {
      display: flex;
      font-size: $size-12;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        margin: 0 4px;
        transition: ease-in 50ms;

        &:hover,
        &.selected {
          color: $link-color-light;
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .header {
    &-container {
      margin: unset;
      width: auto;
    }
  }
}
