.filter-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &-filters {
    background-color: rgba($base-header-colour, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;

    &-excel {
      display: flex;
      justify-content: center;
    }

    &-excel-icon {
      width: 24px;

      img {
        width: inherit;
      }
    }

    &-container {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;

      > * {
        padding: 0 0 0 10px;
      }
    }
  }

  label {
    padding: 0 4px 0 0;
  }

  select {
    border-radius: 4px;
    border: 1px solid rgba($border-colour, 0.5);
    height: 25px;
  }

  input[type="search"] {
    border-radius: 4px;
    border: 1px solid rgba($border-colour, 0.5);
    padding: 4px 10px;
    margin: 0 0 0 4px;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    .ledn-token-filter-container {
      align-items: flex-start;
      flex-direction: column-reverse;

      &-excel {
        margin: 10px 0 0 auto;
        justify-self: flex-end;
      }

      &-filters {
        width: -webkit-fill-available;

        > * {
          flex-grow: 1;
          flex-direction: column-reverse;
          text-align: center;
        }

        button {
          width: 100%;
        }

        &-container {
          > * {
            padding: 0 0 4px 0;

            &:first-child {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
