.filter-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &-filters {
    align-items: center;
    background-color: rgba($base-header-colour, 0.1);
    display: flex;
    font-size: $size-12;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 1em;
    width: 100%;

    &-excel {
      display: flex;
      justify-content: center;
    }

    &-excel-icon {
      width: 20px;

      img {
        width: inherit;
      }
    }

    &-container {
      align-items: center;
      flex-grow: 1;
      display: flex;

      > * {
        align-items: center;
        display: flex;
        padding: 0 1em 0 0;

        &:first-child {
          order: 3;
          padding: 0;
        }
      }
    }
  }

  label {
    font-weight: 500;
    padding: 0 4px 0 0;
  }

  select {
    border-radius: 4px;
    border: 1px solid rgba($border-colour, 0.5);
    height: 25px;
  }

  input[type="search"] {
    border-radius: 4px;
    border: 1px solid rgba($border-colour, 0.5);
    padding: 4px 10px;
    margin: 0 0 0 4px;
  }
}

@media only screen and (max-width: $medium) {
  .filter-container {
    margin: 1.5em;
    width: auto;

    &-excel {
      margin: 10px 0 0 auto;
      justify-self: flex-end;
    }

    &-filters {
      flex-direction: column;
      width: -webkit-fill-available;

      > * {
        &:first-child {
          align-items: flex-start;
          flex-direction: column;
          width: 100%;
        }
      }

      &-container {
        margin: 0 0 1em;
        > * {
          justify-content: space-between;
          padding: 0 0 1em 0;
          width: 100%;

          &:first-child {
            padding: 0;
          }
        }
      }

      button {
        width: 100%;
      }
    }
  }
}
