.filter-container {
  align-items: center;
  background-color: rgba($base-header-colour, 0.1);
  display: flex;
  justify-content: space-between;

  &-filters {
    display: flex;
    font-size: $size-12;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em 2em;
    width: 80%;

    &-excel {
      display: flex;
      justify-content: center;
    }

    &-excel-icon {
      width: 20px;

      img {
        width: inherit;
      }
    }

    &-container {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;

      > * {
        padding: 0 0 0 10px;
      }
    }
  }

  label {
    padding: 0 4px 0 0;
  }

  select {
    border-radius: 4px;
    border: 1px solid rgba($border-colour, 0.5);
    height: 25px;
  }

  input[type="search"] {
    border-radius: 4px;
    border: 1px solid rgba($border-colour, 0.5);
    padding: 4px 10px;
    margin: 0 0 0 4px;
  }
}

@media only screen and (max-width: $medium) {
  .filter-container {
    margin: unset;
    width: auto;

    &-excel {
      margin: 10px 0 0 auto;
      justify-self: flex-end;
    }

    &-filters {
      width: -webkit-fill-available;

      > * {
        flex-direction: column-reverse;
        text-align: right;

        &:first-child {
          justify-content: flex-end;
        }

        &:last-child {
          margin: 0 0 0 2em;
        }
      }

      button {
        width: 100%;
      }

      &-container {
        > * {
          padding: 0 0 1em 0;

          &:first-child {
            padding: 0;
          }
        }
      }
    }
  }
}
